## Room Theme: SunkenCrypt, Room: sunkencrypt_Corridor3, Spawner: 1 
[sunkencrypt_Corridor3.Draugr]
PrefabName=RRRM_DraugrMV_DoD
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=3
LevelMax=1
LevelUpChance=10
RespawnTime=0
TriggerDistance=60
TriggerNoise=0
SpawnInPlayerBase=False
SetPatrolPoint=True
SetFaction=Undead

## Room Theme: SunkenCrypt, Room: sunkencrypt_MudRoom, Spawner: 2 
[sunkencrypt_MudRoom.Draugr]
PrefabName=RRRM_DraugrMV_DoD
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=3
LevelMax=1
LevelUpChance=10
RespawnTime=0
TriggerDistance=10
TriggerNoise=60
SpawnInPlayerBase=False
SetPatrolPoint=True
SetFaction=Undead

## Room Theme: SunkenCrypt, Room: sunkencrypt_new_Corridor4, Spawner: 1 
[sunkencrypt_new_Corridor4.Blob]
PrefabName=RRRM_Lich_DoD
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=1
LevelMax=1
LevelUpChance=15
RespawnTime=0
TriggerDistance=60
TriggerNoise=0
SpawnInPlayerBase=False
SetPatrolPoint=True
SetFaction=Undead

## Room Theme: SunkenCrypt, Room: sunkencrypt_new_Room1, Spawner: 1 
[sunkencrypt_new_Room1.Draugr_Elite]
PrefabName=RRRM_Draugr_EliteMV_DoD
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=3
LevelMax=1
LevelUpChance=10
RespawnTime=0
TriggerDistance=60
TriggerNoise=0
SpawnInPlayerBase=False
SetPatrolPoint=True
SetFaction=Undead

## Room Theme: SunkenCrypt, Room: sunkencrypt_new_Room2, Spawner: 0 
[sunkencrypt_new_Room2.Draugr]
PrefabName=RRRM_DraugrMV_DoD
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=3
LevelMax=1
LevelUpChance=10
RespawnTime=0
TriggerDistance=60
TriggerNoise=0
SpawnInPlayerBase=False
SetPatrolPoint=True
SetFaction=Undead

## Room Theme: SunkenCrypt, Room: sunkencrypt_new_Room3, Spawner: 2 
[sunkencrypt_new_Room3.Blob]
PrefabName=RRRM_Lich_DoD
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=1
LevelMax=1
LevelUpChance=15
RespawnTime=0
TriggerDistance=60
TriggerNoise=0
SpawnInPlayerBase=False
SetPatrolPoint=True
SetFaction=Undead

## Room Theme: SunkenCrypt, Room: sunkencrypt_new_Room4, Spawner: 1 
[sunkencrypt_new_Room4.Draugr_Elite]
PrefabName=RRRM_Draugr_EliteMV_DoD
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=3
LevelMax=1
LevelUpChance=10
RespawnTime=0
TriggerDistance=60
TriggerNoise=0
SpawnInPlayerBase=False
SetPatrolPoint=True
SetFaction=Undead

## Room Theme: SunkenCrypt, Room: sunkencrypt_Raised, Spawner: 2 
[sunkencrypt_Raised.Draugr]
PrefabName=RRRM_Lich_DoD
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=3
LevelMax=1
LevelUpChance=10
RespawnTime=0
TriggerDistance=10
TriggerNoise=60
SpawnInPlayerBase=False
SetPatrolPoint=True
SetFaction=Undead

## Room Theme: SunkenCrypt, Room: sunkencrypt_WalkToWater2, Spawner: 0 
[sunkencrypt_WalkToWater2.Draugr]
PrefabName=RRRM_DraugrMV_DoD
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=3
LevelMax=1
LevelUpChance=10
RespawnTime=0
TriggerDistance=60
TriggerNoise=0
SpawnInPlayerBase=False
SetPatrolPoint=True
SetFaction=Undead
