## Room Theme: MeadowsVillage, Room: meadowsvillage_greathall, Spawner: 0 
[meadowsvillage_greathall.Draugr]
PrefabName=RRRM_DraugrMV_DoD
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=3
LevelMax=1
LevelUpChance=10
RespawnTime=0
TriggerDistance=60
TriggerNoise=0
SpawnInPlayerBase=False
SetPatrolPoint=True
SetFaction=Undead

## Room Theme: MeadowsVillage, Room: meadowsvillage_greathall, Spawner: 1 
[meadowsvillage_greathall.Draugr_Ranged]
PrefabName=RRRM_Draugr_RangedMV_DoD
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=3
LevelMax=1
LevelUpChance=10
RespawnTime=0
TriggerDistance=60
TriggerNoise=0
SpawnInPlayerBase=False
SetPatrolPoint=True
SetFaction=Undead

## Room Theme: MeadowsVillage, Room: meadowsvillage_greathall, Spawner: 2 
[meadowsvillage_greathall.Draugr_Elite]
PrefabName=RRRM_Draugr_EliteMV_DoD
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=3
LevelMax=1
LevelUpChance=10
RespawnTime=0
TriggerDistance=60
TriggerNoise=0
SpawnInPlayerBase=False
SetPatrolPoint=True
SetFaction=Undead


## Room Theme: MeadowsVillage, Room: meadowsvillage_greathallruin, Spawner: 0 
[meadowsvillage_greathallruin.Draugr]
PrefabName=RRRM_DraugrMV_DoD
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=3
LevelMax=1
LevelUpChance=10
RespawnTime=0
TriggerDistance=60
TriggerNoise=0
SpawnInPlayerBase=False
SetPatrolPoint=True
SetFaction=Undead

## Room Theme: MeadowsVillage, Room: meadowsvillage_greathallruin, Spawner: 1 
[meadowsvillage_greathallruin.Draugr_Ranged]
PrefabName=RRRM_Draugr_RangedMV_DoD
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=3
LevelMax=1
LevelUpChance=10
RespawnTime=0
TriggerDistance=60
TriggerNoise=0
SpawnInPlayerBase=False
SetPatrolPoint=True
SetFaction=Undead


## Room Theme: MeadowsVillage, Room: meadowsvillage_house1, Spawner: 0 
[meadowsvillage_house1.Draugr_Ranged]
PrefabName=RRRM_Draugr_RangedMV_DoD
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=3
LevelMax=1
LevelUpChance=10
RespawnTime=0
TriggerDistance=60
TriggerNoise=0
SpawnInPlayerBase=False
SetPatrolPoint=True
SetFaction=Undead

## Room Theme: MeadowsVillage, Room: meadowsvillage_house1, Spawner: 1 
[meadowsvillage_house1.Draugr]
PrefabName=RRRM_DraugrMV_DoD
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=3
LevelMax=1
LevelUpChance=10
RespawnTime=0
TriggerDistance=60
TriggerNoise=0
SpawnInPlayerBase=False
SetPatrolPoint=True
SetFaction=Undead


## Room Theme: MeadowsVillage, Room: meadowsvillage_house2, Spawner: 0 
[meadowsvillage_house2.Draugr_Ranged]
PrefabName=RRRM_Draugr_RangedMV_DoD
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=3
LevelMax=1
LevelUpChance=10
RespawnTime=0
TriggerDistance=60
TriggerNoise=0
SpawnInPlayerBase=False
SetPatrolPoint=True
SetFaction=Undead

## Room Theme: MeadowsVillage, Room: meadowsvillage_house2, Spawner: 1 
[meadowsvillage_house2.Draugr]
PrefabName=RRRM_DraugrMV_DoD
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=3
LevelMax=1
LevelUpChance=10
RespawnTime=0
TriggerDistance=60
TriggerNoise=0
SpawnInPlayerBase=False
SetPatrolPoint=True
SetFaction=Undead


## Room Theme: MeadowsVillage, Room: meadowsvillage_longhouse, Spawner: 0 
[meadowsvillage_longhouse.Draugr]
PrefabName=RRRM_DraugrMV_DoD
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=3
LevelMax=1
LevelUpChance=10
RespawnTime=0
TriggerDistance=60
TriggerNoise=0
SpawnInPlayerBase=False
SetPatrolPoint=True
SetFaction=Undead

## Room Theme: MeadowsVillage, Room: meadowsvillage_longhouse, Spawner: 1 
[meadowsvillage_longhouse.Draugr_Ranged]
PrefabName=RRRM_Draugr_RangedMV_DoD
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=3
LevelMax=1
LevelUpChance=10
RespawnTime=0
TriggerDistance=60
TriggerNoise=0
SpawnInPlayerBase=False
SetPatrolPoint=True
SetFaction=Undead

## Room Theme: MeadowsVillage, Room: meadowsvillage_longhouse, Spawner: 2 
[meadowsvillage_longhouse.Draugr_Elite]
PrefabName=RRRM_Draugr_EliteMV_DoD
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=3
LevelMax=1
LevelUpChance=10
RespawnTime=0
TriggerDistance=60
TriggerNoise=0
SpawnInPlayerBase=False
SetPatrolPoint=True
SetFaction=Undead


## Room Theme: MeadowsVillage, Room: meadowsvillage_longhouseruin, Spawner: 0 
[meadowsvillage_longhouseruin.Draugr_Ranged]
PrefabName=RRRM_Draugr_RangedMV_DoD
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=3
LevelMax=1
LevelUpChance=10
RespawnTime=0
TriggerDistance=60
TriggerNoise=0
SpawnInPlayerBase=False
SetPatrolPoint=True
SetFaction=Undead

## Room Theme: MeadowsVillage, Room: meadowsvillage_longhouseruin, Spawner: 1 
[meadowsvillage_longhouseruin.Draugr]
PrefabName=RRRM_DraugrMV_DoD
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=3
LevelMax=1
LevelUpChance=10
RespawnTime=0
TriggerDistance=60
TriggerNoise=0
SpawnInPlayerBase=False
SetPatrolPoint=True
SetFaction=Undead


## Room Theme: MeadowsVillage, Room: meadowsvillage_tower, Spawner: 0 
[meadowsvillage_tower.Draugr]
PrefabName=RRRM_DraugrMV_DoD
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=3
LevelMax=1
LevelUpChance=10
RespawnTime=0
TriggerDistance=60
TriggerNoise=0
SpawnInPlayerBase=False
SetPatrolPoint=True
SetFaction=Undead

## Room Theme: MeadowsVillage, Room: meadowsvillage_tower, Spawner: 1 
[meadowsvillage_tower.Draugr_Ranged]
PrefabName=RRRM_Draugr_RangedMV_DoD
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=3
LevelMax=1
LevelUpChance=10
RespawnTime=0
TriggerDistance=60
TriggerNoise=0
SpawnInPlayerBase=False
SetPatrolPoint=True
SetFaction=Undead


## Room Theme: MeadowsVillage, Room: meadowsvillage_towerruin, Spawner: 0 
[meadowsvillage_towerruin.Draugr]
PrefabName=RRRM_DraugrMV_DoD
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=3
LevelMax=1
LevelUpChance=10
RespawnTime=0
TriggerDistance=60
TriggerNoise=0
SpawnInPlayerBase=False
SetPatrolPoint=True
SetFaction=Undead


## Room Theme: MeadowsVillage, Room: unused_meadowsvillage_townhouse1, Spawner: 0 
[unused_meadowsvillage_townhouse1.Draugr]
PrefabName=RRRM_DraugrMV_DoD
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=3
LevelMax=1
LevelUpChance=10
RespawnTime=0
TriggerDistance=60
TriggerNoise=0
SpawnInPlayerBase=False
SetPatrolPoint=True
SetFaction=Undead
