## Room Theme: ForestCrypt, Room: forestcrypt_BurialChamber02, Spawner: 0 
[forestcrypt_BurialChamber02.Skeleton]
PrefabName=RRRM_SkeletonMageBC_DoD
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=1
LevelMax=3
LevelUpChance=10
RespawnTime=0
TriggerDistance=60
TriggerNoise=0
SpawnInPlayerBase=False
SetPatrolPoint=True
SetFaction=Undead

## Room Theme: ForestCrypt, Room: forestcrypt_Chasm01, Spawner: 0 
[forestcrypt_Chasm01.Skeleton]
PrefabName=RRRM_SkeletonMageBC_DoD
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=1
LevelMax=3
LevelUpChance=10
RespawnTime=0
TriggerDistance=60
TriggerNoise=0
SpawnInPlayerBase=False
SetPatrolPoint=True
SetFaction=Undead

## Room Theme: ForestCrypt, Room: forestcrypt_Corridor3, Spawner: 0 
[forestcrypt_Corridor3.Skeleton]
PrefabName=RRRM_SkeletonMageBC_DoD
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=1
LevelMax=3
LevelUpChance=10
RespawnTime=0
TriggerDistance=60
TriggerNoise=0
SpawnInPlayerBase=False
SetPatrolPoint=True
SetFaction=Undead

## Room Theme: ForestCrypt, Room: forestcrypt_new_Burialchamber03, Spawner: 0 
[forestcrypt_new_Burialchamber03.Skeleton]
PrefabName=RRRM_SkeletonMageBC_DoD
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=1
LevelMax=3
LevelUpChance=10
RespawnTime=0
TriggerDistance=60
TriggerNoise=0
SpawnInPlayerBase=False
SetPatrolPoint=True
SetFaction=Undead

## Room Theme: ForestCrypt, Room: forestcrypt_room_16, Spawner: 0 
[forestcrypt_room_16.Skeleton]
PrefabName=RRRM_SkeletonMageBC_DoD
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=1
LevelMax=3
LevelUpChance=10
RespawnTime=0
TriggerDistance=60
TriggerNoise=0
SpawnInPlayerBase=False
SetPatrolPoint=True
SetFaction=Undead

## Room Theme: ForestCrypt, Room: forestcrypt_room2, Spawner: 1 
[forestcrypt_room2.Skeleton]
PrefabName=RRRM_SkeletonMageBC_DoD
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=1
LevelMax=3
LevelUpChance=10
RespawnTime=0
TriggerDistance=60
TriggerNoise=0
SpawnInPlayerBase=False
SetPatrolPoint=True
SetFaction=Undead
