## Settings file was created by plugin Trader2.0 v0.0.5
## Plugin GUID: com.zarboz.Trader20

[General]

## Lock Configuration
# Setting type: Boolean
# Default value: false
Lock Configuration = false

## This is the prefab name for the currency that Knarr uses in his trades
# Setting type: String
# Default value: Coins
Config Prefab Name = SkullToken_DoD

