## Biome: BlackForest, Location: TrollCave, Spawner: 0 
[TrollCave.Troll]
PrefabName=RRR_TrollTosser
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=1
LevelMax=3
LevelUpChance=10
RespawnTime=60
TriggerDistance=60
TriggerNoise=0
SpawnInPlayerBase=False
SetPatrolPoint=True
SetFaction=ForestMonsters


## Biome: BlackForest, Location: StoneTowerRuins03, Spawner: 0 
[StoneTowerRuins03.Greydwarf]
PrefabName=Greydwarf_Elite
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=1
LevelMax=3
LevelUpChance=10
RespawnTime=60
TriggerDistance=60
TriggerNoise=0
SpawnInPlayerBase=False
SetPatrolPoint=True
SetFaction=ForestMonsters

## Biome: BlackForest, Location: StoneTowerRuins03, Spawner: 1 
[StoneTowerRuins03.Greydwarf_Elite]
PrefabName=RRR_GDThornweaver
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=1
LevelMax=3
LevelUpChance=10
RespawnTime=60
TriggerDistance=60
TriggerNoise=0
SpawnInPlayerBase=False
SetPatrolPoint=True
SetFaction=ForestMonsters

## Biome: BlackForest, Location: StoneTowerRuins03, Spawner: 2 
[StoneTowerRuins03.Skeleton]
PrefabName=RRR_GDThornweaver
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=1
LevelMax=3
LevelUpChance=10
RespawnTime=60
TriggerDistance=60
TriggerNoise=0
SpawnInPlayerBase=False
SetPatrolPoint=True
SetFaction=ForestMonsters


## Biome: BlackForest, Location: StoneTowerRuins07, Spawner: 0 
[StoneTowerRuins07.Skeleton]
PrefabName=RRR_GhostVengeful
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=1
LevelMax=3
LevelUpChance=10
RespawnTime=60
TriggerDistance=60
TriggerNoise=0
SpawnInPlayerBase=False
SetPatrolPoint=True
SetFaction=Undead


## Biome: BlackForest, Location: StoneTowerRuins08, Spawner: 0 
[StoneTowerRuins08.Skeleton]
PrefabName=RRR_GhostVengeful
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=1
LevelMax=3
LevelUpChance=10
RespawnTime=60
TriggerDistance=60
TriggerNoise=0
SpawnInPlayerBase=False
SetPatrolPoint=True
SetFaction=Undead

## Biome: Swamp, Location: SwampWell1, Spawner: 0 
[SwampWell1.Draugr_Elite]
PrefabName=RRR_Grig
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=3
LevelMax=1
LevelUpChance=10
RespawnTime=60
TriggerDistance=60
TriggerNoise=0
SpawnInPlayerBase=False
SetPatrolPoint=True
SetFaction=Undead

## Biome: Mountain, Location: AbandonedLogCabin03, Spawner: 0 
[AbandonedLogCabin03.Skeleton]
PrefabName=RRR_Grig
Enabled=True
SpawnAtDay=True
SpawnAtNight=True
LevelMin=1
LevelMax=3
LevelUpChance=10
RespawnTime=60
TriggerDistance=60
TriggerNoise=0
SpawnInPlayerBase=False
SetPatrolPoint=True
SetFaction=Undead
